%p#notice= notice

%h3 TAB 1 - 'Information'?
%p 
  %b= Material.human_attribute_name :material_type_id
  = @material.material_type_id
%p 
  %b= Material.human_attribute_name :name
  = @material.name
%p 
  %b= Material.human_attribute_name :color
  = @material.color
%p 
  %b= Material.human_attribute_name :product_number
  = @material.product_number
%p 
  %b= Material.human_attribute_name :description
  = @material.description

= link_to 'Edit', edit_material_path(@singular_name)
|
= link_to 'Back', materials_path

%h3 TAB 2 - Stocks (x)
.association_list_box#stock_list
  .association_list_box_title Stocks
  .association_list_box_content
    - @material.stocks.each do |stock|
      = link_to (!stock.name.blank? ? stock.name : 'make a pretty name method for stock'), stock_path(stock)
  .association_list_box_footer
    = link_to 'Add Stock', new_material_stock_path(@material)

%h3 TAB 3 - Items (x)
.association_list_box#item_list
  .association_list_box_title Items Used In
  .association_list_box_content
    - @material.stocks.each do |item|
      = link_to (!item.name.blank? ? item.name : 'make a pretty name method for item'), item_path(item)
